body{
    background:white;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}                              /* this is the thing for having sections stacked and covering all the width */

.about-me{
    background: orange;
}
